@font-face {
    font-family: shabnam;
    font-style: normal;
    src: url("../../../public/fonts/shabnam/Shabnam-Light-FD.woff") format("woff");
}
.debt-calculator{
    font-family: 'shabnam';
}
.custom-datepicker input {
    margin-right: 20px solid red; /* تغییر حاشیه به قرمز یا هر رنگی که می‌خواهید */
  }
  