/* SalesChart.css */

.chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.submenu-arrow {
    display: inline-block;
    margin-left: 5px; /* فاصله بین فلش و متن */
}

button {
    padding: 10px 20px;
    background-color: #8884d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6a60b8;
}

.svg.recharts-surface {
    height: 200px;
}

.ant-table {
    font-family: 'shabnam';
}


/* تغییر فونت برای سلول‌های جدول */

.ant-table-cell {
    font-family: 'shabnam';
}


/* تغییر فونت برای عنوان‌های جدول */

.ant-table-thead th {
    font-family: 'shabnam';
    text-align: center;
}


/* استایل‌های CSS برای تغییر فونت */

.ant-pagination,
.ant-pagination-item,
.ant-pagination-item-link,
.ant-pagination-options li,
.ant-select {
    font-family: 'shabnam';
}

.edit,
.pagination,
.ant-popconfirm-titleو.ant-pagination-item {
    font-family: 'shabnam';
}

.pagination {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .page-item {
        padding: 5px;
        border-radius: 10px;
    }
}

.error-message {
    color: crimson;
}
.discount{
    font-family: 'shabnam';
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
            
    
}
.submenu{
    margin-right: 25px;
}
.discount button {
    margin-right: 20px; /* به میزان دلخواه تغییر دهید */
  }
  .submenu-arrow {
    display: inline-block;
    margin-left: 5px; /* فاصله بین فلش و متن */
}