.even-row {
    background-color: #F4FDE7;
}
.order-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
.odd-row {
    background-color: white;
}
.ant-tabs-nav{
    padding: 30px;
}
.ant-tabs-tab {
    margin-right: 16px;
    background-color: #F4FDE7;
}

.ant-tabs-tab {
    font-weight: bold;
    border-bottom: 2px solid #1890ff;
}
.ant-tabs-nav-list{
    font-family: 'shabnam';
    justify-content: center;
}
.ant-tabs-tab {
    margin: 0 20px; 
}
.ant-tabs-tab-active{
    background-color: rgb(211, 36, 30);
    
}
.ant-pagination-item  a{
    font-family: 'shabnam';
}
#\:r27\:,#\:r2b\:{
    margin-right: 35px;
}
.MuiFormControl-root label {
    transform-origin: top right !important;
  }
  
  .MuiInputBase-root input:focus + fieldset legend span,
  .MuiInputBase-root input:not(:placeholder-shown) + fieldset legend span {
    transform: translate(1em, -1.5em) scale(0.75);
    transition: transform 0.2s ease;
  }
  
  .MuiInputBase-root input:focus + fieldset,
  .MuiInputBase-root input:not(:placeholder-shown) + fieldset {
    border-color: blue; /* Optional: Change border color on focus */
  }
  .note-even {
    background-color: #bdf0ba; /* رنگ روشن برای ردیف‌های زوج */
  }
  
  .note-odd {
    background-color: #adccea; /* رنگ متفاوت برای ردیف‌های فرد */
  }
  .ant-table-thead{
    text-align: center;
  }
  