@font-face {
    font-family: shabnam;
    font-style: normal;
    src: url("../public/fonts/shabnam/Shabnam-Light-FD.woff") format("woff");
}
body,html {
    margin: 0;
    font-family: 'Shabnam', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}